@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  font-family: inherit;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

.main-wrapper {
  flex-grow: 1;
}

.main-header {
  line-height: 20px;
}

.navigation {
  display: flex;
  padding: 24px 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 495px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link-logo {
  margin-right: 16px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user li {
  font-size: 14px;
}

.navigation-user li:not(:first-child) a {
  min-height: 32px;
  min-width: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  padding: 6px 16px;
}

.navigation-user .navigation-item {
  margin-right: 16px;
}

.navigation-user .navigation-link-phone {
  font-size: 16px;
  font-weight: 700;
}

.navigation-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
}

.slider {
  margin-bottom: 80px;
  padding-top: 21px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.slider-text {
  max-width: 470px;
}

.slider-text .slider-title {
  font-size: 36px;
  text-align: left;
  margin-bottom: 24px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.slider-block {
  display: flex;
  align-items: center;
}

.header-slider {
  display: flex;
  justify-content: space-between;
}

.social-list,
.slider-pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.social-item:last-child {
  margin-right: 0;
}

.promo {
  margin-bottom: 80px;
}

.promo-title {
  margin-bottom: 55px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-item {
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
}

.promo-item-text {
  padding: 36px 0 36px 36px;
}

.promo-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.promo-item-description {
  margin: 0;
  margin-bottom: 28px;
}

.popular {
  margin-bottom: 80px;
}

.popular-title {
  margin-bottom: 56px;
  text-align: center;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*     Card     */

.card-img {
  object-fit: contain;
  border-radius: 50%;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.card-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  padding: 0 40px 24px 40px;
}

.card-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.card-item-link {
  text-decoration: none;
  color: inherit;
}

.card-item-description {
  color: #565C66;
  margin: 0;
  margin-bottom: 16px;
}

.card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.card-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.advantages {
  background-image: url("../images/waffle.png");
  border-radius: 16px;
  margin-bottom: 80px;
}

.advantages-wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 1122px;
  padding: 56px 40px;
  margin: auto;
}

.advantages-title {
  margin-bottom: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 40px;
  column-gap: 32px;
}

.advantages-item {
  display: flex;
  width: 505px;
}

.advanteges-img {
  margin-right: 16px;
}

.advantages-text {
  color: #565C66;
  margin: 0;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news-block {
  width: 570px;
}

.blog {
  background-color: #FFFFFF;
  background-image: url("../images/news.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  padding: 33px 235px 68px 32px;
}

.blog-text {
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.subscribe {
  background-color: #E7E7E7;
  background-image: url("../images/subscribe-bg.png");
  border-radius: 16px;
}

.subscribe-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
}

.subscribe-text {
  color: #565C66;
  margin: 0;
  margin-bottom: 42px;
}

.form-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFCFC;
  background-image: url("../images/bg-delivery.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px;
}

.delivery-text {
  max-width: 371px;
}

.delivery-title {
  text-align: inherit;
}

.delivery-description {
  color: #565C66;
}

.delivery-block {
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  color: #565C66;
  width: 500px;
  min-height: 406px;
  padding: 40px 40px 42px 40px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-field {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.delivery-text {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-form-address {
  grid-column: 1 / -1;
  margin-bottom: 12px;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
}

.contacts {
  background-color: #E7E7E7;
  background-image: url("../images/bg-contacts.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  min-height: 492px;
  padding: 64px;
}

.contacts-address {
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  font-style: normal;
  width: 343px;
  padding: 40px;
}

.contacts-address a {
  text-decoration: none;
  color: inherit;
}

.contacts-address-text {
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address-text-dark {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.contacts-address-text-small {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.main-footer {
  display: flex;
  padding: 48px 14px 48px 0;
}

.footer-social {
  margin-right: auto;
}

.footer-documents {
  font-size: 14px;
  line-height: 20px;
  max-width: 356px;
  margin-right: 200px;
}

.main-footer a {
  color: inherit;
}

.footer-documents a {
  text-decoration: none;
}

.footer-documents-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-documents-item-dark {
  font-weight: 700;
}

.footer-copyright-link {
  display: block;
  margin-bottom: 14px;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

/* Страница Каталог */

.main-catalog {
  padding-top: 32px;
}

.breadcrumbs {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 28px;
}

.breadcrumbs-link-active {
  text-decoration: underline;
}

.catalog-products-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 44px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-form-block {
  margin-right: 24px;
}

.filter-form-button {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  font-weight: 700;
}

.catalog-pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 41px 0;
}

.pagination-button-show {
  grid-column: 2 / 3;
}

.pagination {
  grid-column: 3 / 4;
  justify-self: end;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 24px;
  height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.pagination-link-active {
  background: #FCFCFC;
  border-radius: 50px;
}
