@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
}

.main-header {
  line-height: 20px;
}

.navigation-user li:first-child {
  font-weight: 700;
}

.navigation-user li:not(:first-child) {
  font-size: 14px;
  background: rgba(252, 252, 252, 0.3);
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
}

.button {
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.promo-item {
  background: #FF7799;
  border-radius: 16px;
}

.promo-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popular-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.popular-item {
  text-align: center;
  background: #FCFCFC;
  border-radius: 8px;
}

.popular-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-item-description {
  color: #565C66;
}

.popular-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.advantages {
  background-image: url(../images/waffle.png);
  border-radius: 16px;
}

.advantages-wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
}

.advantages-text {
  color: #565C66;
}

.blog {
  background-color: #FFFFFF;
  background-image: url(../images/news.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
}

.blog-text {
  line-height: 20px;
  color: #565C66;
}

.blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  background-color: #E7E7E7;
  background-image: url(../images/subscribe-bg.png);
  border-radius: 16px;
}

.subscribe-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
}

.subscribe-text {
  color: #565C66;
}

.form-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
}

.delivery {
  background-color: #FCFCFC;
  background-image: url(../images/bg-delivery.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
}

.delivery-title {
  text-align: inherit;
}

.delivery-description {
  color: #565C66;
}

.delivery-form {
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  color: #565C66;
}

.contacts {
  background-color: #E7E7E7;
  background-image: url(../images/bg-contacts.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
}

.contacts-address {
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  font-style: normal;

}

.contacts-address a {
  text-decoration: none;
  color: inherit;
}

.contacts-address-text {
  color: #565C66;
}

.contacts-address-text-dark {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-address-text-small {
  font-size: 14px;
  line-height: 20px;
}

.footer-documents {
  font-size: 14px;
  line-height: 20px;
}

.main-footer a {
  color: inherit;
}

.footer-documents a {
  text-decoration: none;
}

.footer-documents-item-dark {
  font-weight: 700;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

/* Страница Каталог */

.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-active {
  text-decoration: underline;
}

.catalog-products-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
}

.filter-form-button {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  font-weight: 700;
}

.product-card-item {
  background: #FCFCFC;
  border-radius: 8px;
  text-align: center;
}

.product-card-title,
.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
}

.pagination-link-active {
  background: #FCFCFC;
  border-radius: 50px;
}
