@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-family: inherit;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  outline: 4px solid #FCFCFC;
}

.button:active {
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:disabled {
  background-color: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: none;
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

.main-wrapper {
  flex-grow: 1;
}

.main-header {
  line-height: 20px;
}

.navigation {
  display: flex;
  padding: 23px 0 21px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 495px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link-logo {
  margin-right: 16px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user li:not(:first-child) {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  font-size: 14px;
}

.navigation-item {
  position: relative;
}

.navigation-user .navigation-item {
  margin-right: 16px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user .navigation-item:first-child {
  margin-right: 2px;
}

.navigation-link-phone {
  font-size: 16px;
  font-weight: 700;
}

.navigation-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  min-height: 32px;
  min-width: 32px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background-color: #FCFCFC;
  border-radius: 30px;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
}

.navigation-link-search {
  padding: 8px;
}

.navigation-icon {
  position: absolute;
}

.navigation-link-catalog {
  padding-right: 38px;
}

.navigation-icon-catalog {
  left: auto;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.navigation-link-icon {
  padding-left: 38px;
}

.navigation-link-icon .navigation-icon {
  right: auto;
  left: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
}

.slider {
  margin-bottom: 78px;
  padding-top: 19px;
}

.slider-list-wrapper {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.slider-text {
  max-width: 470px;
  margin-right: 63px;
}

.slider-text .slider-title {
  font-size: 36px;
  text-align: left;
  margin-bottom: 24px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.slider-block {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-block-img {
  opacity: 0.4;
}

.slider-block-img-active {
  opacity: 1;
}

.slider-img-wrapper:not(:last-child) {
  margin-right: 41px;
}

.slider-block .slider-img-wrapper-active {
  margin-right: 60px;
}

.slider-img-wrapper::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.slider-img-wrapper-active::before {
  width: 312px;
  height: 312px;
  opacity: 1;
}

.slider-button {
  position: absolute;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  padding: 0;
  color: #FCFCFC;
  outline: none;
  transform: translate(-50%);
}

.slider-button-wrapper {
  position: relative;
}

.slider-button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.slider-prev {
  top: 46%;
  left: 48%;
}

.slider-next {
  top: 46%;
  right: 22%;
}

.slider-button:hover {
  background-color: #FCFCFC;
  color: #2D3440;
}

.slider-button:active {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:disabled {
  color: #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
}

.slider-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.header-slider {
  display: flex;
  justify-content: space-between;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #FCFCFC;
  border: none;
  opacity: 0.3;
  margin-right: 8px;
}

.slider-pagination-button:not(.slider-pagination-button-active):hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
  opacity: 1;
}

.slider-pagination-button:active {
  background-color: #FCFCFC;
  opacity: 0.5;
}

.slider-pagination-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.slider-pagination-button-active {
  background-color: #FCFCFC;
  opacity: 1;
}

.slider-pagination-item {
  margin-right: 8px;
  width: 12px;
  height: 12px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.social-list,
.slider-pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  position: relative;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.social-icon {
  fill: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  border: none;
}

.social-link:hover  {
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-link:active {
  opacity: 0.5;
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.social-link:focus-visible {
  outline: 2px solid #2D3440;
}

.social-link:hover::before,
.social-link:active::before,
.social-link:focus-visible {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #2d3440;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.social-link:focus-visible {
  width: 24px;
  height: 24px;
}

.promo {
  margin-bottom: 80px;
}

.promo-title {
  margin-bottom: 55px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-item {
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
}

.promo-item:first-child {
  background-image: url("../images/raspberry.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.promo-item:nth-child(2) {
  background-image: url("../images/marshmellou.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.promo-item-text {
  padding: 36px 0 36px 36px;
}

.promo-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.promo-item-description {
  margin: 0;
  margin-bottom: 28px;
}

.popular {
  margin-bottom: 80px;
}

.popular-title {
  margin-bottom: 106px;
  text-align: center;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 88px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*     Card     */

.card-img {
  object-fit: contain;
  border-radius: 50%;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
  margin-top: -50px;
}

.card-img-link {
  margin-bottom: 12px;
}

.card-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  padding: 0 40px 24px 40px;
}

.card-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.card-item-link {
  text-decoration: none;
  color: inherit;
}

.card-item-description {
  color: #565C66;
  margin: 0;
  margin-bottom: 16px;
}

.card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.card-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.card-order-button {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
  cursor: pointer;
  border: none;
  outline: 2px solid #FF2F64;
}

.card-order-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card-order-button:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
}

.card-order-button:active {
  color: #2D3440;
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;
}

.card-order-button:focus-visible {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.card-order-button:disabled {
  color: #565C66;
  background-color: #B9B9B9;
}

.advantages {
  background-image: url("../images/waffle.png");
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 24px;
}

.advantages-wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-title {
  margin-bottom: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 40px;
  column-gap: 32px;
}

.advantages-item {
  display: flex;
  width: 505px;
}

.advanteges-img {
  margin-right: 16px;
}

.advantages-text {
  color: #565C66;
  margin: 0;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news-block {
  width: 570px;
}

.blog {
  background-color: #FFFFFF;
  background-image: url("../images/news.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  padding: 33px 235px 68px 32px;
}

.blog-text {
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.blog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.subscribe {
  background-color: #E7E7E7;
  background-image: url("../images/subscribe-bg.png");
  border-radius: 16px;
  padding: 6px;
}

.subscribe-wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
  min-height: 212px;
}

.subscribe-text {
  color: #565C66;
  margin: 0;
  margin-bottom: 42px;
}

.subscribe-form {
  display: flex;
}

.subscribe-field {
  flex-grow: 1;
  margin-right: 14px;
  max-width: 332px;
}

.form-button {
  color: #FCFCFC;
  background-color: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  letter-spacing: 1.5px;
}

.form-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  outline: 4px solid #FF2F64;
  box-shadow: none;
}

.form-button:active {
  background-color: #FEAFC3;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.form-button:focus-visible {
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.form-button:disabled {
  background-color: #B9B9B9;
  color: #565C66;
  border: 4px solid rgba(185, 185, 185, 0.3);
  box-shadow: none;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFCFC;
  background-image: url("../images/bg-delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px;
}

.delivery-text {
  max-width: 371px;
  margin: 0;
  margin-bottom: 32px;
  margin-left: 36px;
}

.delivery-title {
  text-align: inherit;
}

.delivery-description {
  color: #565C66;
}

.delivery-block {
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  color: #565C66;
  width: 500px;
  min-height: 406px;
  padding: 40px 40px 42px 40px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-field {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.delivery-block-text {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-form-address {
  grid-column: 1 / -1;
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.form-label-icon {
  position: relative;
  padding-right: 20px;
}

.info {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 4px;
  margin-left: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/required.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-block .field,
.subscribe-form .field {
  padding: 14px 16px;
  font: inherit;
  line-height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  color: #2D3440;
}

.field:hover {
  border-color: #2D3440;
}

.field:focus-visible {
  outline: 2px solid #2D3440;
}

.field:invalid {
  border: 1px solid #EA5454;
}

.field:focus:invalid {
  border: 2px solid #EA5454;
}

.field:disabled {
  background-color: #E7E7E7;
  opacity: 0.65;
}

.field:disabled:hover {
  background-color: #E7E7E7;
}

.field::placeholder {
  color: #B9B9B9;
}

.delivery-form-button {
  grid-column: 1 / -1;
  justify-self: center;
}

.contacts {
  background-color: #E7E7E7;
  background-image: url("../images/bg-contacts.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  min-height: 492px;
  padding: 64px;
}

.contacts-address {
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  font-style: normal;
  width: 343px;
  padding: 40px;
}

.contacts-address a {
  text-decoration: none;
  color: inherit;
}

.contacts-address-text {
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address-text-dark {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.contacts-address-text-small {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 32px;
}

.main-footer {
  display: flex;
  padding: 48px 14px 48px 0;
}

.footer-social {
  margin-right: auto;
}

.footer-documents {
  font-size: 14px;
  line-height: 20px;
  max-width: 356px;
  margin-right: 200px;
}

.main-footer a {
  color: inherit;
}

.footer-documents a {
  text-decoration: none;
}

.footer-documents-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-documents-item-dark {
  font-weight: 700;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 23px;
  margin-left: -23px;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.footer-copyright-link {
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}

/* Page Catalog */

.main-catalog {
  padding-top: 32px;
}

.breadcrumbs {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  display: flex;
}

.breadcrumbs-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 6px;
  background-image: url("../images/arrow-breadcrumbs.svg");
  background-position: right;
  background-repeat: no-repeat;
  right: -17px;
  top: 7px;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.breadcrumbs-link-active {
  text-decoration: underline;
}

.catalog-products-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 37px;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 94px;
}

.filter-form {
  display: grid;
  grid-template-columns: 198px 198px auto auto;
  gap: 18px 21px;
  justify-content: flex-start;
  align-items: center;
}

.filter-form-slelect {
  width: 100%;
  padding: 8px 16px;
  padding-right: 30px;
  font: inherit;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border-radius: 20px;
  border: none;
  appearance: none;
}

.filter-form-slelect:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-form-slelect:focus-visible {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #FCFCFC;
}

.filter-form-block-fat {
  grid-column: 3 / -1;
}

.filter-form-block-fill {
  grid-column: 1 / 4;
}

.filter-form-title {
  margin: 0;
  padding-left: 17px;
  margin-bottom: 8px;
}

.filter-form-block {
  padding: 0;
  margin: 0;
  border: none;
}

.range-title {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-wrapper-label {
  display: flex;
  justify-content: center;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range {
  padding: 19px 16px 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565C66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #2D3440;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.range-toggle::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #FCFCFC;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.range-toggle:hover,
.range-toggle:focus-visible {
  background-color: #FCFCFC;
}

.range-toggle:hover::before {
  background-color: #2D3440;
}

.range-toggle:active::before,
.range-toggle:focus-visible::before {
  background-color: #2D3440;
}

.range-toggle:focus-visible {
  border: 2px solid #2D3440;
  outline: none;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -13px;
}

.control {
  position: relative;
  padding-left: 15px;
  margin-right: 10px;
}

.control:last-child {
  margin-right: 0;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1.5px solid #2D3440;
  border-radius: 3px;
  outline: none;
}

.control-input,
.control-input-fat {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.control-input:hover + .control-mark,
.control-input:focus-visible + .control-mark {
  border: 1.5px solid #FCFCFC;
}

.control-input:checked + .control-mark {
  background-image: url("../images/checked.svg");
  background-size: 16px 16px;
  border: none;
  outline: none;
}

.control-input:checked:hover + .control-mark,
.control-input:checked:focus-visible + .control-mark {
  background-image: url("../images/checked-hover.svg");
  background-size: 100%;
  border: none;
  outline: none;
}

.control-input:disabled + .control-mark {
  opacity: 0.5;
}

.control-input:checked:disabled + .control-mark {
  background-image: url("../images/checked.svg");
  background-size: 100%;
  border: none;
  opacity: 0.5;
}

.fat-wrapper,
.fill-wrapper {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8px 24px;
  border-radius: 18px;
}

.control-input-fat + .control-mark {
  border-radius: 50%;
}

.control-input-fat:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
}

.control-input-fat:hover + .control-mark {
  border-color: #FCFCFC;
}

.control-input-fat:checked:hover + .control-mark::before {
  background-color: #FCFCFC;
}

.control-input-fat:disabled + .control-mark {
  opacity: 0.4;
}

.control-input-fat:focus-visible + .control-mark::before {
  background-color: #FCFCFC;
}

.control-input-fat:focus-visible + .control-mark {
  outline: 1.5px solid #FCFCFC;
  border: none;
}

.filter-form-button {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
  border-radius: 20px;
  font-weight: 700;
  padding: 8px 52px;
  box-shadow: none;
  margin-right: 18px;
  align-self: flex-end;
}

.filter-form-button:hover {
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  box-shadow: none;
}

.filter-form-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
  box-shadow: none;
}

.filter-form-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #FCFCFC;
  box-shadow: none;
}

.catalog-pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 41px 0;
}

.pagination-button-show {
  grid-column: 2 / 3;
}

.pagination {
  grid-column: 3 / 4;
  justify-self: end;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  margin: auto;
  border-radius: 50px;
}

.pagination-prev {
  background-image: url("../images/arrow-left-pagination.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  margin-right: 8px;
}

.pagination-next {
  background-image: url("../images/arrow-right-pagination.svg");
  background-repeat: no-repeat;
  background-position: center right 6px;
  width: 24px;
  margin-left: 8px;
}

.pagination-link-active {
  background-color: #FCFCFC;
  border-radius: 50px;
  border: none;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.pagination-disabled:hover,
.pagination-disabled:active {
  background-color: transparent;
  border: none;
}

.pagination-item .pagination-link-active:hover,
.pagination-item .pagination-link-active:active {
  background-color: #FCFCFC;
  border: none;
}

.catalog-footer {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

/* Current-item */

.navigation-user .navigation-item.navigation-item-active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.navigation-user .navigation-item.navigation-item-active:hover {
  opacity: 0.6;
}

.navigation-user .navigation-item.navigation-item-active:focus-visible {
  outline: 2px solid #000000;
}

.navigation-user .navigation-item.navigation-item-active:active {
  opacity: 0.3;
}

  /* Popover */

.popover {
  position: absolute;
  z-index: 1;
  background-color: #FCFCFC;
  border-radius: 4px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

.popover-cart {
  top: 40px;
  right: 0;
  width: 441px;
  padding: 48px 46px 48px 48px;
  min-height: 320px;
}

.popover-cart-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.cart-item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 32px;
  border-bottom: 1px solid #E7E7E7;
}

.cart-item {
  display: flex;
  align-items: center;
}

.cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.cart-item-img {
  border-radius: 50%;
  margin-right: 16px;
}

.cart-item-description {
  margin-right: auto;
}

.cart-item-description-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-bottom: 4px;
}

.cart-item-description-weight {
  margin: 0;
  color: #B9B9B9;
}

.cart-item-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.cart-button-remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 47px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.total-price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

    /* Empty cart */

.popover-cart-empty {
  width: 288px;
  min-height: 156px;
  padding: 48px 10px;
  right: 0;
  top: 41px;
}

.cart-empty-text {
  margin: 0;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popover-cart-empty-open {
  display: block;
}

   /* Login */

.popover-login {
  width: 420px;
  min-height: 350px;
  right: 0;
  top: 41px;
  padding: 48px 48px 52px 48px;
}

.popover-login-open {
  display: block;
}

.popover-login-title {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 32px;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.login-field,
.search-field {
  padding: 13px 16px;
  font: inherit;
  line-height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  color: #2D3440;
  margin-bottom: 16px;
}

.links-block {
  display: flex;
  margin-top: 18px;
}

.login-button {
  margin-right: 23px;
}

.link-login {
  display: block;
  color: #2D3440;
  margin-bottom: 2px;
}

.login-field::placeholder {
  font-size: 16px;
}

   /* Popover Search */

.popover-search {
  width: 356px;
  min-height: 96px;
  right: 0;
  top: 40px;
  padding: 24px 16px;
}

.popover-search-open {
  display: block;
}

.search-field {
  width: 100%;
  margin: 0;
}

   /* Popover Catalog */

.popover-catalog {
  top: 40px;
  left: 0;
  width: 135px;
  min-height: 188px;
  padding: 8px 0;
}

.popover-catalog-open {
  display: block;
}

.catalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
}

.catalog-item:first-child {
  font-weight: 700;
  margin-bottom: 8px;
}

.catalog-item:first-child .catalog-item-link::before {
  position: absolute;
  content: "";
  width: 103px;
  height: 1px;
  top: 35px;
  left: 13px;
  background-color: #B9B9B9;
}

.catalog-item-link {
  display: block;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 16px 6px 13px;
}

.catalog-item:hover {
  background-color: #FFCBD8;
}

.catalog-item:active {
  background-color: #FF7799;
}

.catalog-item:focus-within {
  background-color: #FF4A78;
}

.catalog-item:focus-within .catalog-item-link {
  color: #FCFCFC;
  outline: 1px solid #2D3440;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 175, 195, 0.3);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-feedback {
  width: 570px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  border: none;
  background-image: url("../images/close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
}
